<footer id="gal-footer">
    <div class="container">
        Copyright © 2021 <%= config.author ? config.author : '' %> Powered by <a href="https://hexo.io/" target="_blank">Hexo</a>.&nbsp;Theme by <a href="https://github.com/AONOSORA" target="_blank">AONOSORA</a>
    </div>
</footer>

<script type="text/x-mathjax-config">
    var mathId = document.getElementById("gt-container");
    MathJax.Hub.Config({
        showProcessingMessages: false,
        messageStyle: "none",
        extensions: ["tex2jax.js"],
        jax: ["input/TeX", "output/HTML-CSS"],
        tex2jax: {
            inlineMath:  [ ["$", "$"] ],
            displayMath: [ ["$$","$$"] ],
            skipTags: ['script', 'noscript', 'style', 'textarea', 'pre', 'code', 'a'],
            ignoreClass:"comment-content"
        },
        "HTML-CSS": {
            availableFonts: ["STIX","TeX"]
        }
    });
    if (mathId != null) {
        window.onload = function() {
            $(".gt-container").bind("DOMNodeInserted", function() {
                MathJax.Hub.Queue(["Typeset", MathJax.Hub], document.getElementById("gt-container"));
            })
            MathJax.Hub.Queue(["Typeset", MathJax.Hub], mathId);
        }
    }
</script>
<script src="https://cdn.jsdelivr.net/npm/mathjax@2.7.9/MathJax.js?config=TeX-AMS-MML_HTMLorMML" async="async">
</script>

<!-- 回到顶端 -->
<div id="gal-gotop">
    <i class="fa fa-angle-up"></i>
</div>
