<div class="reword-links tab-pane nav bs-sidenav fade" id="sidebar-reword-links">
    <% theme.reword_links.forEach(function (reword) { %>
    <li>
        <a href="<%= reword.link %>" target="_blank"><%= reword.name %></a>
    </li>
    <% }) %>
</div>